<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Claxton Connections </title>
    @Styles.Render("~/Content/cc.css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="container">
        <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
        <!-- box for web page-->
        <div id="masthead">
            <img src="~/Content/mastheadcc.gif" align="middle" />
        </div> <!-- close masthead-->
        <div id="top_nav">
            <!-- top nav bar-->
            <!-- top links -->
            <ul>
                <li>&#10023;</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li> &#10023; </li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>&#10023;</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>&#10023;</li>
                <li>@Html.ActionLink("Guestbook", "Index", "GuestBook")</li>
                <li>&#10023;</li>
            </ul>
        </div> <!-- close top nav -->

        <div id="left_nav">
            <img src="~/Content/icon.png" />
            @Html.Partial("_LoginPartial")
            
        <ul>Products and Services
            <li>@Html.ActionLink("Comcast Service", "Comcast", "Home")</li>
            <li>@Html.ActionLink("Internet Cafe", "InternetCafe", "Home")</li>
            <li>@Html.ActionLink("Local Products", "Products", "Home")</li>
        </ul>
            <ul>Area Information
                <li>@Html.ActionLink("Local Area Events", "LocalEvents", "Home")</li>
                <li>@Html.ActionLink("Evans County", "Evans", "Home")</li>
                <li>@Html.ActionLink("Tattnall County", "Tattnall", "Home")</li>
                <li>@Html.ActionLink("Bulloch County", "Bulloch", "Home")</li>
                <li>@Html.ActionLink("Bryan County", "Bryan", "Home")</li>
                <li>@Html.ActionLink("Candler County", "Candler", "Home")</li>
                <li>@Html.ActionLink("Toombs County", "Toombs", "Home")</li>
            </ul>
        </div> <!-- close left nav -->

        <div id="content">
            @RenderBody()
            
        </div> <!-- close content-->

        <footer>
            <p>&copy; @DateTime.Now.Year -Claxton Connections</p>
        </footer>
        
    </div> <!-- close container -->
        
</body>
</html>
